# Dependencies
node_modules/

# Environment variables
.env

# Database files
loyalty.db
loyalty.db-journal

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
.idea/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
